.product {
	width: 350px;
	border: 2px solid rgb(163, 163, 163);
	background-color: #e7e4e4;
	text-align: center;
	margin-top: 10px;
}
.productImage {
	width: 100%;
	/*
	max-width: 100%;
	max-height: 200px;
	object-fit: contain;
	*/
}
.productButton {
	width: 150px;
	background-color: black;
	color: white;
	padding: 5px;
}
